* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.focus_section {
  margin: auto;
  padding: 35px 0px;
}

.orange_color {
  color: #FFAD5A;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.col {
  width: 40%;
}

.describe_focus > .focus_title {
  border: none;
  border-left: 5px solid #FF5959;
  padding-left: 10px;
}

.col img {
  width: 450px;
}

.col h2 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  
}

button {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  border: none;
  border-radius: 1px;
  padding: 8px 30px;
  margin: 30px 0;
}

.agenda_section h1 {
  text-align: center;
  font-size: 48px;
  color: #13103a;
  padding-bottom: 30px;
}

.agenda_col h6 {
  font-size: 24px;
}

.agenda_col_bg1 {
  background: rgba(79, 157, 166, 0.2);
}

.agenda_col_bg2 {
  background: rgba(255, 89, 89, 0.2);
}

.agenda_col_bg3 {
  background: #fff4d6;
}

.agenda_col {
  width: 360px;
  border: none;
  border-radius: 14px;
  padding: 50px 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.agenda_col > .illustration {
  width: 126px;
}

.col > .coding_img {
  width: 400px;
}

.development_section {
  padding-top: 100px;
  background-image: url("./shapes/shape-1.png");
  background-position: left 1% bottom 35%;
  background-repeat: no-repeat;
  background-size: 300px;
}

.development_row,
.application_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.community_section {
  padding-top: 100px;
  background-image: url("./shapes/shape-1.png");
  background-position: bottom 0px right 130px;
  background-repeat: no-repeat;
  background-size: 300px;
  padding-bottom: 100px;
}

.community_row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.app_demo_title {
  font-size: 38px;
  color: #13103a;
  text-align: center;
  padding-bottom: 30px;
}

.sub_title {
  color: #13103a;
}

.application_row {
  background-image: url("./shapes/shape-3.png");
  background-repeat: no-repeat;
  background-position: left 11% top -0%;
  background-size: 100px;
}

.footer_sec{
  padding: 20px;
  background-color: #0B0D17;
}

.footer_sec h1 {
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: 400;
}

.footer_sec p{
  color: #D9DBE1;
  text-align: center;
  font-size:10px ;
}

